.c-entry {

  @include element('page-content') {
    margin-bottom: 20px;
  }

  @include element('categories-flex') {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

    @include element('category') {
      background-color: $category;
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover {
        background-color: $category--hover;
      }

      @include modifier('current') {
        background-color: $category--current;
      }

      @include modifier('no-hover') {
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: $category;

        &:hover {
          background-color: $category;
        }
      }
    }
  }

  @include element('image') {
      z-index: 0;
      width: 100%;
      height: auto;
      min-width: 250px;
      min-height: 250px;
      object-fit: cover;

      @include modifier('play-button') {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .5;

        z-index: 1;
        width: 100%;
        height: auto;
        min-width: 250px;
        min-height: 250px;
        object-fit: contain;
      }
    }

  @include element('entry') {

    @include element('title-container') {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      @include element('title') {
        display: inline-block;
        color: $standard;
        transition: all 0.5s;
        margin-bottom: 10px;
      }
    }

    @include element('image-container') {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;

      @include element('image') {
        max-width: 100%;
      }
    }

    @include element('iframe-container') {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;

      @include element('iframe') {
        max-width: 100%;
      }
    }

    @include element('content') {
      margin-left: auto;
      margin-right: auto;
    }

    @include element('date') {
      margin-top: 10px;
      text-align: right;
    }

    @include element('category-container') {
      margin-top: 25px;
      margin-bottom: -10px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}
